<!DOCTYPE html>
<html lang="en">
<head>

    <style>
        body
        {
            font-family: "Gill Sans", sans-serif;
            margin: 0px;
            padding: 0px;
            background-color: rgb(45, 43, 43);
        }
        #h1
        {
            font-size: 2em;
            color: white;
            text-align: center;
            text-decoration: none ;
        }
        section
        {
            display: flex;
          justify-content: space-around;
        }
        div
        {
            padding: 10px;
            border-radius: 6px;
            margin: 5px;
            text-align: center;
            width: 25vw ;
            color: white;
            background-color: black;
        }
        p
        {
            margin: 5px;
        }
        img
        {
            margin: 5px;
            width: 200px ;
            height: 300px ;
        }
        div >a
        {
            text-decoration: none;
            background-color: white;
            color: black;
            padding: 5px 10px;
            margin-top:5px;
        }

    </style>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
    <a id="h1" href="/"><h1>nayahto</h1></a>
    </header>   
    <section id="filme">
        <% form_dado.forEach((nov) => { %>
            <div>
                <img src="<%= nov.imagem%>" alt="teste">
                <p> <strong>Nome: </strong><%= nov.nome%></p>
                <p><strong>lancamento: </strong><%= nov.lancamento%></p>
              <p id="para"><strong>descricao: </strong><%= nov.descricao%></p>
              <a href="/delete/<%= nov.id %>">apagar</a>
            </div>
<% }) %>
    </section>
</body>
</html>